/auto-save-list
/elpa/
*~

/projectile-bookmarks.eld
/projectile.cache
/recentf
/smex-items
/transient
/custom.el
*.elc
/savefile
/xkcd
/.cache
/url
/eshell
/var
/kill-ring-saved.el
/.dap-breakpoints
/eclipse.jdt.ls/
